<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Familiar</title>
</head>
<body>
    <h1>Mi Familia</h1>
    <h2>Familiar 1:</h2>
    <b>Nombre:</b> {{nombre01}} <br>
    <b>Salario:</b> {{edad01}} <br>
    <b>Fecha de Nacimiento:</b> {{nacimiento01}}
    <h2>Familiar 2:</h2>
    <b>Nombre:</b> {{nombre02}} <br>
    <b>Salario:</b> {{edad02}} <br>
    <b>Fecha de Nacimiento:</b> {{nacimiento02}}
    <h2>Familiar 3:</h2>
    <b>Nombre:</b> {{nombre03}} <br>
    <b>Salario:</b> {{edad03}} <br>
    <b>Fecha de Nacimiento:</b> {{nacimiento03}}


</body>
</html>
